:root {
  margin: 0;
  padding: env(safe-area-inset);
  color: black;
  font-size: 16px;
  font-family: 'Alata', sans-serif;
  background-color: #f3f4f6;
  --text-primary: #cdc8c8;
  --text-secondary: #ffffff;
  --hover-color: #CA3433;
  --sidebar-color: #B22222;
  --button-color: #fddcdf;
  --button-hover: #f65a6f;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--text-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--button-hover);
}

button {
  color: black;
  font-family: 'Alata', sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  border-color: #d6d8d9;
  /* box-shadow: 3px 3px 7px #ededed, -3px -3px 7px #ffffff; */
  background-color: #d6d8d9;
  padding: 8px 25px;
  transition-duration: 0.4s;
}

button:hover {
  border-color: var(--button-color);
  background-color: var(--button-color);
  color: var(--button-hover);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    "sidebar topbar topbar topbar"
    "sidebar main main main";
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: sidebar;
  background-color: var(--sidebar-color);
  box-shadow: -10px 0px 10px 1px #aaaaaa;
  height: 100%;
  width: 20%;
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  position: fixed; 
  /* background-color: #282830; */
  /* margin-top: -10px;
  margin-left: -10px; */
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  grid-area: topbar;
  background-color: #d6d8d9;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-area: main;
  background-color: #fddcdf;
  /* background-color: #191e28; */
  padding-left: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--text-primary);
}

.logo {
  font-family: 'Graduate', cursive;
  color: var(--text-secondary);
  margin-left: 15px;
}

.link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  width: 100%;
}

.nav-select {
  display: flexbox;
  justify-content: flex-start;
  align-items: center;
  transition: 150ms ease;
}

.nav-select:hover {
  background-color: var(--hover-color);
  color: var(--text-secondary);
}

.sidebar:last-child {
  margin-top: auto;
}